<!--<a href="#/suites">Back to test suite list</a> <br />
<a ng-click="back()">Back to test suite runs list</a> -->


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/suites">GrapheneVisualTesting</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{path}}">Home</a></li>
                <li><a ng-click="back()">Back</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<ul style="list-style-type: none;">
    <li ng-repeat="comparisonResult in comparisonResults">
        <div run-info result="comparisonResult"></div>
    </li>
</ul>