<a href="#/suites">Back to test suite list</a> <br />
<a ng-click="back()">Back to test suite runs list</a>
<h1>Job run</h1>

<ul style="list-style-type: none;">
    <li ng-repeat="comparisonResult in comparisonResults">
        <div class="test-info">
            <b>Test class:</b> {{comparisonResult.testClassName}}<br />
            <b>Test name:</b> {{comparisonResult.testName}}<br />
        </div>
        <br>
    <run-info run="comparisonResult"></run-info>
    <br>
        <div class="centre">
            <a ng-click="rejectPattern(comparisonResult.diffID)" class="btn btn-small btn-danger">Reject pattern</a>
            <a ng-click="rejectSample(comparisonResult.diffID)" class="btn btn-small btn-primary">Reject sample</a>
        </div>
    </li>
</ul>