<div class="span6">
    <div>

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
        </select>

    </div>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th style="min-width: 80px;">Test suite name</th>
                <th style="min-width: 100px">Last run</th>
                <th style="width:20px;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="suite in suites| filter:query | orderBy:orderProp">
                <td><a href="#/suites/{{suite.testSuiteID}}">{{suite.name}}</a></td>
                <td>
                    <div class="progress progress-striped" style="margin: 10px 20px 10px 0px; border-radius: 25px;">
                        <div>
                            <div class="progress-bar progress-bar-success" style="width: {{getSuccessfullPercentage(lastRun(suite))}}%" role="progressbar">SAME {{lastRun(suite).numberOfSuccessfullComparisons}}</div>
                            <div class="progress-bar progress-bar-danger" style="width: {{getFailedPercentage(lastRun(suite))}}%" role="progressbar">DIFFERS {{lastRun(suite).numberOfFailedComparisons}}</div>
                            <div class="progress-bar progress-bar-error" style="width: {{getFailedTestsPercentage(lastRun(suite))}}%"  role="progressbar">FAILED {{lastRun(suite).numberOfFailedFunctionalTests}}</div>                    
                        </div>
                    </div>
                </td>
                <td><a ng-click="deleteSuite(suite.testSuiteID)" class="btn btn-small btn-danger">delete</a></td>
            </tr>
        </tbody>
    </table>
</div>