<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <div>
        <div class="item active">
            <img ng-src="{{run.sampleUrl}}" style="margin: auto;">
            <div class="carousel-caption">
                <h4>SAMPLE</h4>
            </div>
        </div>

    </div>
</div> 
