<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
    <carousel>
        <slide active="active">
            <img src="{{result.patternUrl}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>PATTERN</h4>
            </div>
        </slide>
        <slide>
            <img id="{{result.sampleID}}" src="{{result.sampleUrl}}" style="margin:auto;" jcrop>
            <div class="carousel-caption">
                <h4>SAMPLE</h4>
            </div>
        </slide>
        <slide>
            <img src="{{result.diffUrl}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>DIFF</h4>
            </div>
        </slide>
    </carousel>
    <br>
    <span class="centre">
        <a ng-click="$parent.rejectPattern(result.diffID)" class="btn btn-small btn-danger">Reject pattern</a>
        <a ng-click="$parent.rejectSample(result.diffID)" class="btn btn-small btn-primary">Reject sample</a>
        <a ng-click="$parent.acceptSampleAsNewPattern(result.diffID)" class="btn btn-small btn-success">Accept sample as new pattern</a>
        <a ng-click="$parent.acceptNewAlphaMask($event)" class="btn btn-small btn-success">Accept new alpha mask</a>
    </span>